<?php 
/** @var Articles\Blog\Block\Posts $block */
 ?>
 <!DOCTYPE html>
 <html lang="en">
 <head>

<style>
table {  font-family: arial, sans-serif;  border-collapse: collapse;  width: 100%;  margin-top: 30px;}
td, th {  border: 1px solid #dddddd;  text-align: left;  padding: 8px;  }
tr:nth-child(even) { background-color: #dddddd; }
.post-id{width:8%} .post-name{width:30%}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
body {
  font-family: Arial;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;

}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  text-align: right;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

</style>
 </head>
 <body>

   <h1>Articles Detail</h1>
</form>
   <table>
  <tr>
    <th class="post-id">Id</th>
    <th class="post-name">Title</th>
    <th class="post-name">Content</th>
    <th class="post-name">Image</th>
    <th class="post-name">Home</th>

  </tr>

     <?php
     // var_dump($block->getbaseUrl());die;
            echo '<tr>
            		<td>'.$block->getPost()->getArticleId().'</td>
                    <td>'.$block->getPost()->getTitle().'</td>
                    <td>'.$block->getPost()->getContent().'</td>
                    <td>'.$block->getPost()->getImage().'</td>
                    <td>
                    <a href="'. $block->getbaseUrl().'article/index/index"</a>
                    <button>
                          Home
                    </button>
                    </td>
                  </tr>';
    ?>

</table>

  
 </body>
 </html>
